body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:rgb(29, 8, 16);
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 12px;
  }

   tr:nth-child(even) {background-color: #ddd;}
   tr:nth-child(odd) {background-color: white;}
  tr:nth-child(2){background-color: gold ;}
  tr:nth-child(3) {background-color: silver;}
  tr:nth-child(4) {background-color: brown;}
 
  tr:hover {background-color: steelblue;}
  
   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: crimson;
    color: white;
  }

  div {
      background-color: crimson;
      color: white;
  }

table, h1, h2{
  display: flex;
  align-items: center;
  justify-content: center }
div.container6 p {
  margin: 0 } 

